spring:
  application:
    name: ulearner-api

  datasource:
    url: jdbc:postgresql://localhost:5434/ulearnerdb
    username: ulearner
    password: 29082006artychanal
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8080
  servlet:
    context-path: /api

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000

cors:
  allowed-origins: http://localhost:3000,https://ulearner-ui.vercel.app

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html